/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
height: 100%; 
width: 100%; 
position: absolute;
top: 0; 
left: 0; 
z-index: 0; 
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.day-route{
  margin-bottom: 10px;
}
.map-result {
  width:500px;
  height:400px;
  border: 3px solid black;

}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

.input_field {
  margin: 20px 20px 20px 20px;
}

#pac-container {
  display: inline-block;
  padding-bottom: 12px;
  margin-right: 12px;
  position: relative; 
z-index: 1; /* The z-index should be higher than Google Maps */
width: 30%;
left: 0;
/* margin: 60px auto 0; */
padding: 10px;
background: white;
height: auto;
color: black;
top :auto;
}
#result{
  display: block;
  padding-bottom: 12px;
  margin-right: 12px;
  position:absolute; 
  left: 0;
z-index: 1; /* The z-index should be higher than Google Maps */
width: 30%;
margin: 60px auto 0;
padding: 10px;
background: white;
height: auto;
color: black
}
.svg-icon { width: 16px; height: 16px; }


.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
.hide{
  visibility: hidden;
}
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#button-find{
  height: 50%;
  width: 50%;
  padding: 6px 12px;
}
